<div class="people-list">
  <h1 class="people-list__title">Star Wars people</h1>
  @switch (loadState()) {
    @case ('loading') {
      <p class="people-list__status">Loading…</p>
    }
    @case ('error') {
      <p class="people-list__status" role="alert">Could not load people from the API.</p>
    }
    @case ('ready') {
      <ul class="people-list__items">
        @for (person of mergedPeople(); track routeIdFor(person)) {
          <li class="people-list__item">
            <a class="people-list__link" [routerLink]="['/people', routeIdFor(person)]">{{
              person.name
            }}</a>
          </li>
        }
      </ul>
    }
  }

  <section class="people-list__add" aria-labelledby="people-list-add-heading">
    <h2 class="people-list__add-title" id="people-list-add-heading">Add person (local only)</h2>
    <p class="people-list__add-hint">New entries are stored in memory and are not sent to the API.</p>
    <form class="people-list__form" [formGroup]="addForm" (ngSubmit)="onAddSubmit()">
      <label class="people-list__field">
        <span class="people-list__label">Name</span>
        <input class="people-list__input" formControlName="name" type="text" autocomplete="name" />
      </label>
      <label class="people-list__field">
        <span class="people-list__label">Height</span>
        <input class="people-list__input" formControlName="height" type="text" />
      </label>
      <label class="people-list__field">
        <span class="people-list__label">Mass</span>
        <input class="people-list__input" formControlName="mass" type="text" />
      </label>
      <label class="people-list__field">
        <span class="people-list__label">Birth year</span>
        <input class="people-list__input" formControlName="birth_year" type="text" />
      </label>
      <label class="people-list__field">
        <span class="people-list__label">Gender</span>
        <input class="people-list__input" formControlName="gender" type="text" />
      </label>
      <button class="people-list__submit" type="submit">Add to list</button>
    </form>
  </section>
</div>
